<a href="https://colab.research.google.com/github/vicentelc1515/PYTHON/blob/main/teste01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_excel('Tabela Clientes.xlsx')

display(df.head())

,Código do Cliente,Primeiro Nome,Sobrenome,email,Gênero,Num Filhos,Data de Nascimento
0,1,Adore,Crush,adore10@gmail.com,F,0,1976-01-13
1,2,Pegeen,Sanday,pegeen2@yahoo.com,F,3,1974-10-26
2,3,Brooks,Prahl,brooks4@uol.com,M,2,1978-09-18
3,4,Bethena,Allot,bethena1@yahoo.com,F,4,1950-10-06
4,5,Giordano,Minihan,giordano9@gmail.com,M,0,1969-06-04

In [ ]:
display(df['Sobrenome'].head() + ', ' + df['Primeiro Nome'].head())

In [ ]:
display(df[df["Num Filhos"] == 1].head())

In [ ]:

display(df[df["Data de Nascimento"] > "1990-01-01"])

In [ ]:
delim = str(",")
with open("Nomes.csv","w") as file:
  file.write("Index"+delim+"Sobrenome"+delim+"Nome\n")
  display("Index"+delim+"Sobrenome"+delim+"Nome")
  for index, row in df.iterrows():
    nome = row["Primeiro Nome"]
    sobrenome = row["Sobrenome"]
    juncao = ""
    juncao = sobrenome + delim + nome
    file.write(str(index + 1) + delim + str(juncao) + "\n")
    print(str(index + 1) + delim + str(juncao))

In [10]:
#import os
#os.remove("Nomes.csv")

array = [1,2,3,4,5,6,7]

print(array,len(array))
array.pop(3)
print(array,len(array))

[1, 2, 3, 4, 5, 6, 7] 7
[1, 2, 3, 5, 6, 7] 6

In [5]:
print(soma(5,10))

print(len(array))

array.append(2)

print(len(array))
print(array)

15